

/*-----------login-------------*/
.rowHu {
	background: url("../images/login.jpg") no-repeat;
	height: 100%;
	margin-top: 40px;
    margin-left:auto;
    margin-right:auto;
}

.bottonHu {
	background: #0088cc;
	border-color: #0088cc;
}

.bottonHu:hover {
	background: #009deb;
	border-color: #009deb;
}

.rowHu .col-md-4
{
	padding-top:90px;
}
