/* Example 1 custom styles */
#ex1Slider .slider-selection {
	background: #BABABA;
}
.well {
	background-color: #E0E0E0;
	width:100%;
}

.mapContainer {
	
position: relative; 
height: 400px;
	
}
#mapPanel
{
	height:520px;
	
}
.dynamic
{
	height:230px;
}


